body {
    font-family: 'Roboto Mono',monospace;
    min-height: 854px;
    background-image: url('https://inews-prd-a-images.s3.eu-west-2.amazonaws.com/content/uploads/2019/10/shutterstock_1479789158.jpg');
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
  }
  
  .container {
    text-align: center;
    padding: 20px;
    height: 100vh;
  }
  
  .page-title {
    color: #ffffff;
    margin: 0 0 5px;
  }
  
  .page-subtitle {
    color: #ffffff;
    margin-top: 5px;
  }
  
  .page-logo {
    width: 200px;
    padding: 0px 0px 100px 0px;
  }
  
  .alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right:10px;
  }
  
  input{
    font-size: large;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
  }
  .button{
    background-color:rgb(67, 127, 218);
    color: white;
    margin: 20px;
    padding: 12px;
    border-radius: 15px;
  }


