body {
  font-family: 'Roboto Mono',monospace;
  min-height: 854px;
  background-image: url('./img/fundo.png');
  background-color: #000000;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

/*cabeçalho*/
.header-container {
  text-align: center;
  padding: 20px;
}


.page-title {
  color: #ffffff;
  margin: 0 0 5px;
  box-shadow: 0,0,0,0,0.7;
}

.page-subtitle {
  color: #ffffff;
  margin-top: 5px;
}

.page-logo {
  width: 200px;
  text-align: center;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right:10px;
}

/*interação*/

h2 {
  position: absolute;
  font-size:16px;
  font-weight:bold;
  top: 142px;
  left: calc(50% - 72.5px);
  width: 145px;
}

h3 {
  text-align: center;
  opacity: 0;
}

.pokemon-container{
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin: 90px auto 0;
}

input{
  font-size: large;
  margin: 20px;
  padding: 10px;
  border-radius: 20px;
}

.button{
  margin: 20px;
  padding: 10px;
  border-radius: 15px;
}

.pokemon {
  background-color: rgba(255, 255, 255, .4);
  border-radius: 15px;
  box-shadow: -2px 15px 23px -10px rgba(0,0,0,0.38);
  -webkit-box-shadow: -2px 15px 23px -10px rgba(0,0,0,0.38);
  -moz-box-shadow: -2px 15px 23px -10px rgba(0,0,0,0.38);
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-bottom: 30px;
  height: 520px;
}


.pokemon img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.pokemon1 img{
  width: 260px;
  margin-top: 40px;
}

.pokemon2 img{
  text-align: center;
  display:flexbox;
  justify-content: center;
  width: 167px;
  margin-top:138px
}

.pokemon3 img{
  display:flexbox;
  width: 250px;
  margin-top:147px
}


/*rodapé*/
footer{
  font-size: small;
  color:white;
  height: 2vh;
}

footer a{
  text-decoration: none;
  color: white;
}

footer a:hover{
  color: rgb(177, 177, 177);
}