body {
    font-family: Arial, Helvetica, sans-serif;
    text-align:center;
    background-image: url('http://www.metaconstrucoes.srv.br/wp-content/uploads/2018/10/background-black-construtora-em-curitiba-1.jpg');
    background-size: cover 100%;
    background-color: #000000;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .container {
    text-align: center;
    padding: 20px;
  }
  
  .page-title {
    color: rgb(41,122,227);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0 0 5px;
  }
  
  .page-subtitle {
    color: white;
    margin-top: 5px;
  }
  
  .page-logo {
    width: 200px;
  }
  
  .alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right:10px;
  }
  
  body > img {
    margin: 0 10px;
  }

  p{
    padding: 10px;
    color: white;
  }

  button{
    width:100px;
    margin: 2px auto;
    padding: 10px;
    border-radius: 10px;
  }

  footer{
    position: absolute;
    bottom: 10px;
    left:10px;
    margin: 0 auto; 
    font-size: smaller;
    color: white;
  }

  footer a{
    text-decoration: none;
    color: white;
  }

  footer a:hover{
    color: rgb(41,122,227);
  }
  