body {
  font-family: Arial;
  text-align:center;
  color: white;
  background-image: url('https://www.alura.com.br/assets/img/imersoes/dev-2021/dia-04-aluraflix-e-filmes.png');
  background-color: #000000;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}
  
  .container {
    text-align: center;
    padding: 20px;
  }
  
  .page-title {
    color: rgb(41,122,227);
    font-family: Ubuntu;
    margin: 0 0 5px;
  }
  
  .page-subtitle {
    color: white;
    margin-top: 5px;
  }
  
  .page-logo {
    width: 200px;
  }
  
  .alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right:10px;
  }
  
  body > img {
    margin: 0 10px;
  }

  h2{
    text-align: left;
    padding: 10px;
  }
  
  
  p{
    color: white;
  }

/* layout em 3 colunas */
.filme {
  float: left;
  width: 33.33%;
}

/* layout em 4 colunas */
.filmes {
  float: left;
  width: 25%;
}

/*div pai do layout*/
.row:after {
  content: "";
  display: table;
  clear: both;
}

/*responsividade*/
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

 /*footer{
    display: absolute;
    text-align: left;
    top:10px;
    margin: 0 auto; 
    font-size: smaller;
    color: white;
  }

  footer a{
    text-decoration: none;
    color: white;
  }

  footer a:hover{
    color: rgb(41,122,227);
  }*/
  