body {
    font-family: Arial, Helvetica, sans-serif;
    text-align:center;
    background-image: url('https://www.alura.com.br/assets/img/imersoes/dev-2021/dia-04-aluraflix-e-filmes.png');
    background-color: #000000;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
  }
  
  .container {
    text-align: center;
    padding: 20px;
  }
  
  .page-title {
    color: rgb(41,122,227);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0 0 5px;
  }
  
  .page-subtitle {
    color: white;
    margin-top: 5px;
  }
  
  .page-logo {
    width: 200px;
  }
  
  .alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right:10px;
  }
  
  body > img {
    margin: 0 10px;
  }

  h2{
    padding: 20px;
    text-align: left;
    color: white;
  }
  
  footer{
    position: absolute;
    bottom: 10px;
    left:10px;
    font-size: small;
    color: white;
  }

  footer a{
    text-decoration: none;
    color: white;
  }

  footer a:hover{
    color: rgb(41,122,227);
  }